In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df1 = pd.read_csv('Dataset_Harga_Rumah.csv')

In [5]:
df1.head()

,no,transaction_date,house_age,distance_to_MRT,number_cs,latitude,longitude,house_price
0,1,1112012,32.0,84.88,10.0,24.98,121.54,379000000
1,2,1112012,19.5,306.59,9.0,24.98,121.54,422000000
2,3,1062013,13.3,561.98,5.0,24.99,121.54,473000000
3,4,1062013,13.3,561.98,5.0,24.99,121.54,548000000
4,5,1092012,5.0,390.57,5.0,24.98,121.54,431000000

In [4]:
df1.describe()

,no,transaction_date,house_age,distance_to_MRT,number_cs,latitude,longitude,house_price
count,413.000000,4.130000e+02,413.000000,413.000000,413.000000,413.000000,413.000000,4.130000e+02
mean,207.000000,1.074845e+06,17.719613,1085.558063,4.089588,24.968692,121.532712,3.805375e+08
std,119.367081,3.331860e+04,11.405397,1263.181831,2.947636,0.012875,0.015545,1.354032e+08
min,1.000000,1.022013e+06,0.000000,23.380000,0.000000,24.930000,121.470000,1.120000e+08
25%,104.000000,1.052013e+06,9.000000,289.320000,1.000000,24.960000,121.530000,2.770000e+08
50%,207.000000,1.062013e+06,16.100000,492.230000,4.000000,24.970000,121.540000,3.850000e+08
75%,310.000000,1.112012e+06,28.200000,1455.800000,6.000000,24.980000,121.540000,4.660000e+08
max,413.000000,1.122012e+06,43.800000,6488.020000,10.000000,25.010000,121.570000,1.175000e+09

In [6]:
features = ['house_age','distance_to_MRT','number_cs','latitude','longitude']
X = df1[features]
Y = df1['house_price']
X.shape, Y.shape

((413, 5), (413,))

In [7]:
import sklearn.model_selection as ms
X_train, X_test, Y_train, Y_test = ms.train_test_split(X,Y, test_size = 0.2)

X_test.shape, Y_test.shape

((83, 5), (83,))

In [8]:
import sklearn.linear_model as lm
model1 = lm.LinearRegression()
model1.fit(X_train, Y_train)
Y_prediksi = model1.predict(X_test)

print(Y_prediksi)

[4.65672468e+08 4.85106254e+08 2.93731282e+08 4.59098744e+08
 2.45363653e+08 3.17340880e+08 4.35989402e+08 3.41303020e+08
 2.99987193e+08 3.98618246e+08 3.39885891e+08 5.14863018e+08
 3.18032768e+08 4.43198088e+08 3.22849556e+08 3.03085982e+08
 5.24295742e+08 1.45031457e+08 3.04335701e+08 3.99652434e+08
 1.52627470e+08 2.79455963e+08 3.82898702e+08 4.24640470e+08
 4.58282631e+08 2.94509514e+08 4.61209096e+08 3.23783822e+08
 3.48775033e+08 4.25897187e+08 3.96934180e+08 4.77827722e+08
 3.48454709e+08 4.44256013e+08 3.77185478e+08 4.96134872e+08
 5.00454313e+08 4.40867839e+08 4.54580395e+08 3.04251221e+08
 2.93003859e+08 3.99106679e+08 3.96930347e+08 4.46062014e+08
 4.26035113e+08 4.67638990e+08 3.13582635e+08 1.45031457e+08
 4.28605028e+08 4.72334670e+08 3.94986693e+08 4.92937077e+08
 5.22612647e+08 4.23008244e+08 4.40754605e+08 4.26163239e+08
 4.71169094e+08 4.60043359e+08 4.97701544e+08 1.22479352e+08
 4.57738556e+08 3.66118334e+08 7.55461128e+07 4.25176732e+08
 4.80212282e+08 4.57738556e+08 4.93209115e+08 4.92937077e+08
 4.68992793e+08 4.65331345e+08 3.64424552e+08 4.34085139e+08
 4.86945379e+08 4.59771321e+08 3.74812698e+08 3.90483426e+08
 2.95221834e+08 4.12132889e+08 4.68452426e+08 5.20164308e+08
 2.46451804e+08 4.58554669e+08 4.18902326e+08]

In [9]:
import sklearn.metrics as met

score = model1.score(X_test, Y_test)
r_squared = met.r2_score(Y_test, Y_prediksi)
MAE = met.mean_absolute_error(Y_test, Y_prediksi)
MSE = met.mean_squared_error(Y_test, Y_prediksi)
RMSE = np.sqrt(MSE)
print(f'Akurasi Multiple Linear Regression : {score}')
print(f'R_squared Multiple Linear Regression : {r_squared}')
print(f'MAE Multiple Linear Regression : {MAE}')
print(f'MSE Multiple Linear Regression : {MSE}')
print(f'RMSE Multiple Linear Regression : {RMSE}')

Akurasi Multiple Linear Regression : 0.607022488597839
R_squared Multiple Linear Regression : 0.607022488597839
MAE Multiple Linear Regression : 55875518.650916964
MSE Multiple Linear Regression : 4673501226381624.0
RMSE Multiple Linear Regression : 68363010.65913953

In [10]:
#house_age=30, distansce_to_MRT=90.10, number_cs = 6, latitude = 24, longitude = 121.54
input_data = np.array([[30,90.10,6,24.99,121.54]])

prediction = model1.predict(input_data)
print(f'Estimasi Harga Rumah :', prediction)

Estimasi Harga Rumah : [4.64521786e+08]

/Users/indriastutiichsan/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [11]:
import pickle

filename = 'estimasi_harga_rumah.sav'
pickle.dump(model1,open(filename,'wb'))